<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwz.demo.mapper.StudentMapper">

    <!-- LWZ TODO : 2020/7/24 -->
    <!-- 为什么传入的collection是字符串数组而roles_user表中的rid是int型，会自动转换类型？ -->
    <insert id="addRoles">
        insert into roles_user values
        <foreach collection="roles" separator="," item="role">
            (null , #{role}, #{uid})
        </foreach>
    </insert>

    <select id="addRoles" resultType="role">
        select r.* from roles r, roles_user ru where r.id = ru.rid and ru.uid = #{uid}
    </select>

</mapper>