<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwz.demo.mapper.StudentMapper">

    <delete id="deleteTagsByAId">
        delete from article_tags where article_tags.aid = #{aid}
    </delete>

    <insert id="saveTags">
        /*INSERT INGORE语句，则会忽略导致错误的行，并将其余行插入到表中。*/
        insert ingore into tags(tagName) values
        <foreach collection="tags" separator="," item="tag">
            (#{tag})
        </foreach>
    </insert>

    <select id="getTagsIdByTagName" resultType="long">
        select id from tags where tagName in
        <foreach collection="tagNames" item="tagName" separator="," open="(" close=")">
            #{tagName}
        </foreach>
    </select>
    
    <insert id="saveTags2ArticleTags">
        insert into article_tags (aid, tid) values
        <foreach collection="tagIds" item="tagId" separator=",">
            (#{aid}, #{tagId})
        </foreach>
    </insert>

</mapper>